body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #202020;
    color: mediumspringgreen;
    align-content: center;
    text-align: center;
}
h3{ 
    color: #bebebe;
}
